.container{
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    padding: 50PX;
}


.welcome-part{
    background-color: green;
    height: 200px;
    width: 300px;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.login-in-part{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: red;
    height: 200px;
    width: 300px;
    color: white;
    border-radius: 10px;
    
}